<div class="row">
  <div class="col-md-4 col-md-offset-4">
<h2>送り先の編集</h2>

<%= form_for(@user_address, url: user_addresses_update_path) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>


    <h4>受取人の名前</h4>
     <%= f.text_field :first_name  , :placeholder => "姓"%>

    <%= f.text_field :last_name , :placeholder => "名" %>

    <h4>受取人の名前(カナ)</h4>
    <%= f.text_field :first_kana_name , :placeholder => "セイ" %>

    <%= f.text_field :last_kana_name , :placeholder => "メイ" %>

    <h4>郵便番号</h4>
    <%= f.text_field :post_code %>

    <h4>住所</h4>
    <%= f.text_field :address, :size=>"42" %>

    <h4>電話番号</h4>
    <%= f.text_field :phone_number %>

    <h4>メールアドレス</h4>
    <%= f.text_field :email, :size=>"42", :placeholder => "xxx@xxx"%>

    <div>
    <%= f.submit '編集を適用' ,class: "edit btn btn-info  btn-lg btn-block"%></br>
    </div>
  <% end %>
</div>
</div>
