<div class="row">
  <div class="col-md-4 col-md-offset-4">

<h2>送り先の追加</h2>

<%= form_for(@user_address, url: user_address_create_path) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class = "form-group">
        <h4>受取人の名前</h4>
         <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <%= f.text_field :last_name %>

    <h4>受取人の名前(カナ)</h4>
    <%= f.text_field :first_kana_name %>

    <%= f.text_field :last_kana_name %>

    <h4>郵便番号</h4>
    <%= f.text_field :post_code %>

    <h4>住所</h4>
    <%= f.text_field :address, :size=>"40" %>

    <h4>電話番号</h4>
    <%= f.text_field :phone_number %>

    <h4>メールアドレス</h4>
    <%= f.text_field :email, :size=>"40" , :placeholder => "xxx@xxx"%></br>

    <%= f.submit '新規登録' ,class: "edit btn btn-info  btn-lg btn-block" %>

  <% end %>
</div>
</div>