<div class="col-sm-12">
  <div class = "orderhistory-box">
		<h2 class = "orderhistory-title">受注履歴一覧</h2>
		<table class="table table-bordered table-striped">
		  <thead>
		    <tr>
		      <th>受注ID</th>
		      <th>受注日時</th>
		      <th>ユーザ</th>
		      <th>合計金額</th>
		      <th>発送状況</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @order_histories.each do |order_history| %>
		    <tr>
		      <td><%= link_to order_history.id, admins_order_history_path(order_history) %></td>
		      <td><%= order_history.created_at.strftime("%y/%m/%d %H:%M") %></td>
			  	<td><%= order_history.last_name %>&nbsp;<%= order_history.first_name %></td>
		      <td><%= order_history.product_total_price %></td>
		      <td><%= order_history.shipping_status %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>

  </div>
</div>
