<div class="col-sm-12">
	<section class = "adminorder-box">
		<h1 class = "adminorder-title">受注履歴詳細</h1>
		<h2 class = "adminorder-subtitle">受注ID:&emsp;<%= @order_history.id %>の詳細</h2>
		<table class="table table-bordered table-striped">
			<thead>
		    <tr>
		      <th>ユーザID</th>
		      <th>発送先名前</th>
		      <th>購入時刻</th>
		      <th>発送先住所</th>
		      <th>メールアドレス</th>
		      <th>発送ステータス</th>
		    </tr>
		  </thead>
		  <tbody>
		     <tr>
		      <td><%= link_to @order_history.end_user.id, admins_user_path(@order_history.end_user) %></td>
		      <td><%= @order_history.last_name %>&emsp;<%= @order_history.first_name %></td>
			  	<td><%= @order_history.created_at.strftime("%y/%m/%d %H:%M") %></td>
		      <td><%= @order_history.address %></td>
		      <td><%= @order_history.email %></td>
		      <td><%= @order_history.shipping_status %></td>
		    </tr>
		  </tbody>
		</table>

		<h2 class = "adminorder-subtitle">受注した商品</h2>
		<table class="table table-bordered table-striped admin-order-ordered-table">
			<thead>
		    <tr>
		      <th>商品ID</th>
		      <th>商品名</th>
		      <th>アーティスト</th>
		      <th>税込み価格(円)</th>
		      <th>受注個数</th>
		      <th>小計</th>
		    </tr>
		   </thead>
			 <tbody>
			 	<% @order_histories.each do |order_history| %>
					<% order_history.product_histories.each do |product_history| %>
						<tr>
							<td><%= product_history.product.id %></td>
							<td><%= product_history.product.title %></td>
							<td><%= product_history.product.artist.name %></td>
							<td><%= product_history.product.price %></td>
							<td><%= product_history.order_quantity %></td>
					  	<td><%= order_history.product_total_price %></td>
			    	</tr>
			   <% end %>
			<% end %>
		  </tbody>
		</table>
		<section class = "adminorder-price-box">
			<table class = "table table-bordered table-striped adminorder-price">
				<tr>
					<th>商品小計</th>
					<td><%= @order_history.product_total_price - @order_history.shipping_fee %></td>
				</tr>
				<tr>
					<th>送料</th>
					<td><%= @order_history.shipping_fee %></td>
				</tr>
				<tr>
					<th>合計金額</th>
					<td><%= @order_history.product_total_price %></td>
				</tr>
			</table>
		</section>

		<section class = "adminorder-submit">
			<%= form_with(model: @order_history, url: admins_order_history_update_path, local: true) do |f| %>

				<%= f.hidden_field :shipping_status, :value => @order_history.shipping_status %>

				<%= f.submit "発送する", class: "btn btn-primary btn-block adminorder-button", data: {confirm: "本当に発送しましたか?"} %>

			<% end %>
		</section>
	</section>
</div>