<div class ="nested-fields">
<%= f.label :ディスク %>
<%= f.number_field :disc_num %>
<%= f.fields_for :songs do |song| %>
	<%=render "song_fields", :f => song%>
 <% end %>
 <div class="links">
<%= link_to_add_association "曲を追加", f, :songs %>
</div>
</div>