<div class="nested-fields">
  <%= f.label :ナンバー %>
	<%= f.number_field :song_num ,required: true %>
	<%= f.label :曲名 %>
	<%= f.text_field :name ,required: true %>
  <%= link_to_remove_association "曲を削除", f %>
</div>