<div class="col-xs-3 user-box">
	<h3 class = "user-title">ユーザ情報</h3>
	<h5 class = "user-information-title">ユーザ名</h5>
	<p class = "user-information-contetnt"><%= @order_history.end_user.last_name %>&emsp;<%= @order_history.end_user.first_name %></p><br>
	<h5 class = "user-information-title">EMAIL</h5>
	<p class = "user-information-contetnt"><%= @order_history.end_user.email %></p><br>
	<h5 class = "user-information-title">住所</h5>
	<p class = "user-information-contetnt"><%= @order_history.end_user.address %></p><br>
	<h5 class = "user-information-title">電話番号</h5>
	<p class = "user-information-contetnt"><%=@order_history.end_user.phone_number %></p><br>

	<p class = "user-information-button"><%= link_to "編集する", users_edit_path(@order_history.end_user), class: "btn btn-primary" %></p>
</div>


<div class="col-xs-8 order-box">
	<h2 class = "order-title">ユーザ購入履歴</h2>
	<h3 class = "order-sub-title">購入した商品</h3>
	<table class = "table table-bordered table-striped">
		<thead>
		 	<td>商品名</td>
		 	<td>数量</td>
		 	<td>小計</td>
		</thead>
		<tbody>
			<% @product_histories.each do |product_history| %>
					<tr>
						<td><%= product_history.product.title %></td>
						<td><%= product_history.order_quantity %></td>
				  	<td><%= product_history.product.price * product_history.order_quantity %></td>
			    </tr>
			<% end %>
	  </tbody>
	</table>

	<h3 class = "order-sub-title">Address</h3>
	<table class="table table-bordered table-striped">
	  <tbody>
	  	<tr>
	      <th class = "order-table-head">購入ID</th>
	      <td><%= @order_history.id %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">購入者</th>
	      <td class = "order-table-data"><%= @order_history.end_user.last_name %>&emsp;<%= @order_history.end_user.first_name %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">受取人</th>
	      <td class = "order-table-data"><%= @order_history.last_name %>&emsp;<%= @order_history.first_name %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">発送先住所</th>
	      <td class = "order-table-data"><%= @order_history.address %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">郵便番号</th>
	      <td class = "order-table-data"><%= @order_history.post_code %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">電話番号</th>
	      <td class = "order-table-data"><%= @order_history.phone_number %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">EMAIL</th>
	      <td class = "order-table-data"><%= @order_history.email %></td>
	    </tr>
	    <tr>
	      <th class = "order-table-head">購入日時</th>
	      <td class = "order-table-data"><%= @order_history.created_at.strftime("%y/%m/%d %H:%M") %></td>
	    </tr>
	  </tbody>
	</table>
  </div>

