<div class="col-xs-4" >
	<h2>ユーザ情報</h2>
	<h4>ユーザ名</h4><br>
	<p><%= @user.last_name %>&emsp;<%= @user.first_name %></p><br>
	<h4>EMAIL</h4><br>
	<p><%= @user.email %></p><br>
	<h4>住所</h4><br>
	<p><%= @user.address %></p><br>
	<h4>電話番号</h4><br>
	<p><%= @user.phone_number %></p><br>
</div>


<div class="col-xs-8">
	<h2>ユーザ購入履歴</h2>
	<h3>購入した商品</h3>
	<table class = "table table-bordered table-striped">
		<thead>
		 	<td>商品名</td>
		 	<td>数量</td>
		 	<td>小計</td>
		</thead>
		<tbody>
			<% @order_histories.each do |order_history| %>
				<% order_history.product_histories.each do |product_history| %>
					<tr>
						<td><%= product_history.product.title %></td>
						<td><%= product_history.order_quantity %></td>
				  	<td><%= product_history.subtotal %></td>
			    </tr>
			   <% end %>
			<% end %>
	  </tbody>
	</table>

	<h3>Address</h3>
	<table class="table table-bordered table-striped">
	  <tbody>
	  	<tr>
	      <td>購入ID</td>
	      <td><%= @order_history.id %></td>
	    </tr>
	    <tr>
	      <td>購入者</td>
	      <td><%= @user.last_name %>&emsp;<%= @user.first_name %></td>
	    </tr>
	    <tr>
	      <td>受取人</td>
	      <td><%= @order_history.last_name %>&emsp;<%= @order_history.first_name %></td>
	    </tr>
	    <tr>
	      <td>発送先住所</td>
	      <td><%= @order_history.address %></td>
	    </tr>
	    <tr>
	      <td>郵便番号</td>
	      <td><%= @order_history.post_code %></td>
	    </tr>
	    <tr>
	      <td>電話番号</td>
	      <td><%= @order_history.phone_number %></td>
	    </tr>
	    <tr>
	      <td>EMAIL</td>
	      <td><%= @order_history.email %></td>
	    </tr>
	    <tr>
	      <td>購入日時</td>
	      <td><%= @order_history.created_at.strftime("%y/%m/%d %H:%M") %></td>
	    </tr>
	  </tbody>
	</table>

  </div>
</div>
