
<h1>マイページ</h1>
<div class = "row">
<div class="col-xs-3">
	<h3 class = "user-title">ユーザ情報</h3>
	<h5 class = "user-information-title">ユーザ名</h5>
	<p><%= @user.last_name %>&emsp;<%= @user.first_name %></p><br>
	<h5 class = "user-information-title">EMAIL</h5>
	<p><%= @user.email %></p><br>
	<h5 class = "user-information-title">住所</h5>
	<p><%= @user.address %></p><br>
	<h5 class = "user-information-title">電話番号</h5>
	<p><%=@user.phone_number %></p><br>
	<p><%= link_to "編集する", users_edit_path(@user), class: "btn btn-primary" %></p>
</div>

<div class="col-xs-9 mypage-content-box">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#sampleContentA" data-toggle="tab">お届け先住所一覧</a></li>
		<li><a href="#sampleContentB" data-toggle="tab">お気に入り一覧</a></li>
		<li><a href="#sampleContentC" data-toggle="tab">購入履歴</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="sampleContentA">
			<h1>登録されている住所一覧</h1>
				<table class="table">
					  <tbody>
					  	<% @addresses.each do |address| %>
					   <tr>
						    <td><%= address.id %></td>
					        <td><%= address.address %></td>
					        <td class="option">&ensp;<%= link_to '住所を編集',user_addresses_edit_path(address.id), class: "btn-sm  btn-primary " %>
					        <%= link_to '住所を削除',user_address_destroy_path(address.id), class: "btn-sm btn-danger", method: :delete %>
						    </td>
						   </tr>
					    <% end %>
					  </tbody>
				</table>
		</div>
		<div class="tab-pane active" id="sampleContentB">
				<h1>お気に入りの商品一覧</h1>
				<table class="table">
					  <tbody>
						  	<% @favorites.each do |favorite| %>
						    <tr>
						    <td><span><%= attachment_image_tag favorite.product, :product_image,fallback: "no_image.jpg", size: "50x50" %></span></td>
						    <td><%= favorite.product.title %></td>
						    <td><%= favorite.product.artist.name %></td>
						    <td><%= favorite.product.price %></td>
						    </tr>
						    <% end %>
					  </tbody>
				</table>
			
		</div>
		<div class="tab-pane" id="sampleContentC">
			<h1>購入履歴一覧</h1>
			<div class="order-history-box">
				<% @order_histories.each do |order_history| %>
				<div class="order-history-box-inner">
					<div class="date_and_address-box">
						<strong><%= order_history.created_at.strftime("%Y-%m-%d")%>に購入&ensp;<%= order_history.address %>にお届けします</strong>
					</div>
					<% order_history.product_histories.each do |product_history| %>
					<div class="product-info-box">
						<div class= "product-image">
							<%= attachment_image_tag product_history.product, :product_image,fallback: "no_image.jpg", size: "50x50" %>
						</div>
						<div class="product-info-box-data">
								<%= product_history.product.title %>
								<%= product_history.product.price %>円(税込)
								<%= product_history.order_quantity %>枚
						</div>
						<div class="product-info-box-subtotal">
							<%= product_history.product.price * product_history.order_quantity%>円
							<%= order_history.shipping_status %>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>
