<div class="row">
  <div class="col-sm-8 userpurchase-main">

  	<h2 class = "userpurchase-title">お届け先住所</h2>

  	<div class = "userpurchase-select">
  		<% @user.addresses.each do |address| %>
	  		<div class = "userpurchase-selectbox">
	  			<table class = "table table-bordered table-striped userpurchase-table">
	  				<tr>
							<th>住所</th>
							<td><%= address.address %></td>
						</tr>
						<tr>
							<th>郵便番号</th>
							<td><%= address.post_code %></td>
						</tr>
						<tr>
							<th>電話番号</th>
							<td><%= address.phone_number %></td>
						</tr>
						<tr>
							<th>氏名</th>
							<td><%= address.first_name %>&ensp;<%= address.last_name %></td>
						</tr>
						<tr>
							<th>Email</th>
							<td><%= address.email %></td>
						</tr>
					</table>

					<div>
						<%= form_with(model: address, url: user_addresses_update_path, local: true) do |f| %>
  						<%= f.radio_button :address, :id %>
						<% end %>
						<p><%= link_to "編集", user_addresses_edit_path(@user), class: "btn btn-success" %></p>
					</div>
				</div>
			<% end %>
		</div>

		<%= link_to "他のお届け先を追加", user_addresses_new_path(@user), class: "btn btn-info" %>
	</div>


	<div class = "col-sm-4 userpurchase-box">
		<div class = "userpurchase-payment">
			<h2>支払い方法</h2>
			<select id="product" name="product">
				<option value="銀行振込">銀行振込</option>
				<option value="クレジットカード">クレジットカード</option>
				<option value="代引き">代引き</option>
			</select>
		</div>

		<div class = "userpurchase-fee">
			
			<h2>注文内容</h2>
			<p>商品の小計：<%= @product_history.subtotal %></p>
			<p>配送料：<%= @product_history.shipping_fee %></p>
			<p>ご請求額: <%= @order_history.product_total_price %></p>
		</div>

	</div>

	<div class="col-sm-8 userpurchase-song">
		<% @user.carts.each do |cart| %>
			<h2><%= cart.product.title %></h2>
			<p>数量：<%= cart.order_quantity %></p>
			<h2>小計：<%= cart.product.price * cart.order_quantity %></h2>
		<% end %>
	</div>


</div>