<div class="col-lg-8">

<div style="text-align:center">

<h2>お問い合わせ内容入力</h2>
	<%= form_for(@inquiries) do |f| %>

		<%= f.label :"カテゴリ" %><br>
  			<%= f.select :subject, [["発送について", "発送について"], ["交換・返品について", "交換・返品について"], ["商品について", "商品について"], ["身に覚えのない請求書", "身に覚えのない請求書"], ["その他", "その他"]] 	,class:"form-control" %>

    	<h4>Title</h4>
    	<%= f.text_field :content %>

    	<%= f.submit 'Create Book' %>

	<% end %>
</div>
</div>