<div class = "row">
  <div class="center-block">

    <h2 class="i-n">お問い合わせ
        <i class="fas fa-question-circle" aria-hidden="true"></i>
    </h2>

    <div class="f-n">
    	<%= form_for(@inquiry, url: user_inquiries_path) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
    	<%= f.label :subject, 'お問い合わせのカテゴリ' %><br>
      <%= f.select :subject, [["発送について", "発送について"], ["交換・返品について", "交換・返品について"], ["商品について", "商品について"], ["身に覚えのない請求書", "身に覚えのない請求書"], ["その他", "その他"]], {},class:"form-control selectpicker" %>
      <h4 class="aiueo">お問い合わせ内容</h4>
      <div class = "form-group">
      	<%= f.text_area :content, :placeholder => "誹謗中傷はおやめください。", size: "127x15", class: "form-control user-inquiries-form" %>
      	<%= f.submit '入力内容を送信' , class: "btn btn-primary btn-block btn-lg"%>
      </div>
    </div>

    	<% end %>
  </div>
</div>
