<div class = "row row-bg">
  <section class = "product-box">
    <div class = "product-menu">
      <h2 class = "page-title">商品詳細</h2>
      <div>
        <%= attachment_image_tag @product, :product_image, size: "250x250", format: 'jpeg', fallback: "no_image.jpg" %>
      </div>
      <div class = "product-favorites">
        <div id="favorites_buttons_<%= @product.id %>">
             <%= render partial: 'user_favorites/favorite', locals: { product: @product} %>
          </div>
      </div>
      <div class = "product-reviews">
        <i class="far fa-file-alt"><%= @product.reviews.count %>件のレビュー</i>
      </div>
    </div>

    <div class = "product-detail">
      <table class = "table table-bordered table-striped">
        <tr>
          <th>タイトル</th>
          <td class = "product-title"><%= @product.title %></td>
        </tr>
        <tr>
          <th>アーティスト名</th>
          <td class = "product-title"><%= @product.artist.name %></td>
        </tr>
        <tr>
          <th>レーベル名</th>
          <td class = "product-title"><%= @product.label.name %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td class = "product-title"><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>構成数</th>
          <td class = "product-title"><%= @product.discs.count %></td>
        </tr>
        <tr>
          <th>収録曲</th>
          <td class = "product-title">
            <% @product.discs.each do |disc| %>
              <% disc.songs.each do |song| %>
                <ol><%= song.song_num %>:<%= song.name %></ol>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class = "purchase-area">
      <h2>価格(税込)</h2>
      <h2>&yen;<%= @product.price %></h2>
      <%= link_to "商品詳細に戻る", product_path(@product), class: "btn btn-success" %>
    </div>
  </section>
</div>

<div class = "row row-bg">
  <div class = "review-box">
    <h2 class = "review-title">レビュー一覧</h2>
    <table class = "table table-bordered table-striped review-table">
      <thead>
        <tr>
          <td style = "font-weight: bold">ユーザ名</td>
          <td style = "font-weight: bold">レビュー</td>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td class = "review-content"><%= review.end_user.first_name %></td>
            <td class = "review-content"><%= review.review_content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @reviews %>
    <% if end_user_signed_in? %>
      <div>
        <h2>レビュー投稿</h2>
        <p>※1人1件まで</p>
        <%= form_for @review, :url => { :controller => :user_reviews, :action => :create } do |f| %>

        <div class = "form-group">
          <%= f.text_area :review_content, size: "5x10", class: "form-control" %>
        </div>
        <%= f.submit "投稿する", class: "btn btn-info btn-lg review-button" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>