<div class="kakikukeko">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<h2>管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "xxx@xxx" , class:"devise_form" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" , class:"devise_form"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を保持する %>
    </div>
  <% end %>

    <%= f.submit "管理者ログイン", class: "sinki btn btn-primary  btn-lg btn-block" %>
<% end %>

<%= render "admins/shared/links" %>

</div>
</div>
</div>
