<h2>お問い合わせ一覧</h2>
<table class="table table-hover">
    <thead>
     <tr>
      <th>お問い合わせ日時</th>
      <th>ユーザ名</th>
      <th>メールアドレス</th>
      <th>カテゴリ</th>
      <th>回答のステータス</th>
     </tr>
    </thead>

    <tbody>
     <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.created_at %></td>
        <td><%= inquiry.end_user_name %></td>
		    <td><%= inquiry.email %></td>
		    <td><%= inquiry.subject %></td>
        <td><%= inquiry.status %></td>
		    <td><%= link_to "詳細を見る",  admins_inquiry_path(inquiry.id) %></td>
        </tr>
     <% end %>
            </tbody>
            </table>

