<div style="text-align:center">

<h2>お問い合わせ詳細</h2>
<table>
<thead>
    <tr>
      <th>ユーザ名</th>
      <th>メールアドレス</th>
      <th>カテゴリ</th>
      <th>内容</th>
      <th>返信</th>
    </tr>
  </thead>

 <tbody>
	<tr>
		<td><%= @inquiry.end_user_name %></td>
		<td><%= @inquiry.email %></td>
		<td><%= @inquiry.subject %></td>
		<td><%= @inquiry.content %></td>
	</tr>
 </tbody>
</table>
	<%  if @inquiry.reply.nil? %>
	<%= form_for(@inquiry, url: {controller:"admin_inquiries",action:"create"})  do |f| %>
            <tr>
              <td><%= f.text_field :reply %></td>
    		  <%= f.submit '入力内容を送信' %>
            </tr>
    <% end %>
    <% else %>

     <td><%= @inquiry.reply %></td>

    <% end %>
