<div class="main-content">
	<h1 class = "catch-copy"><br>あなたのCDデビュー、<br>お手伝いします!!
</div>
<div class="main">
	<div class="sidenav-flex" style="float: right;">
		<h3>ジャンル</h3>
		<ul>
			<% @genres.each do |genre| %>
			<li>
			  <%= link_to "#{genre.name}(#{genre.products.count})", user_genre_path(genre.id) %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="ranking">
		<div>
			<h2>いいね！ランキングTOP5</h2>
		</div>
		<div class="ranking-colu">
			<ul>
				<div class="rank-flex">
					<% @all_ranks.each.with_index(1) do |rank,i| %>
					<li><i class="fas fa-compact-disc" aria-hidden="true" style="color:#FF00FF;"></i>
						<span class="rank"><%= "No.#{i}" %></span>
       					<span><%= rank.favorites.count %>いいね！</span>
							<div class="jacket-image">
								<%= attachment_image_tag rank, :product_image,fallback: "no_image.jpg", size: "100x100" %>
							</div>
							<div>
								<h5><%= rank.title %><br></h5>
								<h5><%= rank.artist.name %><br></h5>
								<h5>価格:<%= rank.price %>円(税込)<br></h5>
								<h5><%= link_to "詳細を見る", product_path(rank.id) %></h5>
							</div>
					</li>
					<% end %>
				</div>
			</ul>
		</div>	
	</div>	
	<div class="new">
		<h2>最新作</h2>
		<div class="new-colu">
			<ul>
				<div class="flex">
					<% @new_products.each do |product| %>
						<li class="list">
							<h5><%= product.release_date %>発売</h5>
							<div class="jacket-image">
								<%= attachment_image_tag product, :product_image,fallback: "no_image.jpg", size: "100x100" %>
							</div>
							<div>
								<h5><%= product.title %><br></h5>
								<h5><%= product.artist.name %><br></h5>
								<h5>価格:<%= product.price %>円(税込)<br></h5>
								<h5><%= link_to "詳細を見る", product_path(product.id) %></h5>
							</div>
						</li>
					<% end %>
				</div>
				<%= paginate @new_products %>
			</ul>
		</div>
	</div>
</div>