<div>
	<h1>あなたのCDデビュー、お手伝いします</h1>
</div>
<div class="main">
	<div class="sidenav" style="float: right;">
		<p>ジャンル</p>
		<ul>
			<% @genres.each do |genre| %>
			<li>
			  <%= link_to "#{genre.name}(#{genre.products.count})", user_genre_path(genre.id) %>
			</li>	
			<% end %>
		</ul>
	</div>
	<div class="ranking">
		<div>
			<h2>月間いいね！ランキング</h2>
			<span><%=  %>集計</span>
			<span><%=  %>件中　<=%  %>件表示</span>
		</div>
		<div class="ranking-colu">
			<ul style="">
				<li>
					<% @all_ranks.each.with_index(1) do |rank,i| %>
						<span class="rank">
							<%= "No.#{i}" %>
						</span>
						<div class="jacket-image">
							<%= rank.attachment_field :image %>
						</div>
						<div>
							<= link_to "#{rank.title}",product_path(rank.id) >
							<%= link_to "#{rank.artists.name}",products_search %>
							<%= rank.price %>
						</div>
					<% end %>
				</li>
			</ul>
			<a href="#">もっと見る</a>
		</div>	
	</div>	
	<div class="new">
		<h2>最新作</h2>
		<div class="new-colu">
			<ul>
					<% @new_products.each do |product| %>
						<li>
							<h4><%= product.release_date %>発売</h4>
							<div class="jacket-image">
								<%= attachment_image_tag product, :product_image,fallback: "no_image.jpg", size: "100x100" %>
							</div>
							<div>
								<h4>タイトル:<%= link_to product.title, product_path(product.id) %><br></h4>
								<h4>レーベル:<%= product.label.name %><br></h4>
								<h4>アーティスト:<%= product.artist.name %><br></h4>
								<h4>ジャンル:<%= product.genre.name %><br></h4>
								<h4>価格:<%= product.price %>円(税込)<br></h4>
							</div>
						</li>
					<% end %>
			</ul>
		</div>	
	</div>			
</div>	