<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
				<div class="col-lg-8">
	  			<div>
	  				<h2>検索結果</h2>
	  				<span><%= @product_count %>件のタイトルがヒットしました</span>
	  			</div>
	  			<div>
	  				<div class="new-colu">
	  					<ul>
	  						<% @products.each do |product| %>
	  						<div class="row list-sarch">
	  							<li>
	  							  <h4><%= product.release_date %>発売</h4>
	  							  <div class="jacket-image col-lg-6">
								  	<%= attachment_image_tag product, :product_image,fallback: "no_image.jpg", size: "300x300" %>
								  </div>
									<div class="item-col col-lg-6">
										<h4>タイトル:<%= link_to product.title, product_path(product.id) %><br></h4>
										<h4>レーベル:<%= product.label.name %><br></h4>
										<h4>アーティスト:<%= product.artist.name %><br></h4>
										<h4>ジャンル:<%= link_to product.genre.name, user_genre_path(product.genre.id) %><br></h4>
										<h4>価格:<%= product.price %>円(税込)<br></h4>
										<h4><%= link_to "商品詳細へ",  product_path(product.id) %></h4>
									</div>
								</li>
							</div>
							<% end %>
							<%= paginate @products %>
						</ul>
						<%= paginate @products %>
				　  </div>	
	　		　</div>	

			</div>
			<div class="col-lg-2">
				<div class="sidenav-flex">
					<p>ジャンル</p>
					<ul>
						<% @genres.each do |genre| %>
						<li>
						  <%= link_to "#{genre.name}(#{genre.products.count})", user_genre_path(genre.id) %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>	
	