<div class = "row row-bg">
  <section class = "product-box">
    <div class = "product-menu">
      <h2 class = "page-title">商品詳細</h2>
      <div>
        <%= attachment_image_tag @product, :product_image, size: "250x250", format: 'jpeg', fallback: "no_image.jpg" %>
      </div>
      <div class = "product-favorites">

        <div id="favorites_buttons_<%= @product.id %>">
             <%= render partial: 'user_favorites/favorite', locals: { product: @product} %>
          </div>

      </div>
      <div class = "product-reviews">
        <i class="far fa-file-alt"><%= link_to @product.reviews.count, product_reviews_path %>件のレビュー</i>
      </div>
    </div>

    <div class = "product-detail">
      <table class = "table table-bordered table-striped">
        <tr>
          <th>タイトル</th>
          <td class = "product-title"><%= @product.title %></td>
        </tr>
        <tr>
          <th>アーティスト名</th>
          <td class = "product-title"><%= @product.artist.name %></td>
        </tr>
        <tr>
          <th>レーベル名</th>
          <td class = "product-title"><%= @product.label.name %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td class = "product-title"><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>構成数</th>
          <td class = "product-title"><%= @product.discs.count %></td>
        </tr>
        <tr>
          <th>収録曲</th>
          <td class = "product-title">
            <% @product.discs.each do |disc| %>
              <ol>ディスク.<%= disc.disc_num %></ol>
              <% disc.songs.each do |song| %>
                <ol><%= song.song_num %>.<%= song.name %></ol>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class = "purchase-area">
      <% if @stocks <= 0 %>
        <h2>SOLD OUT !!!!</h2>
      <% elsif end_user_signed_in? && @product.sale_status  == "販売中"%>
        <h2>在庫あり</h2>
          <%= form_for @cart, url: user_carts_create_path do |f| %>
            <%= f.label "数量" %>
            <%= f.number_field :order_quantity , min:1 %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.submit "カートに追加する" %>
          <% end %>
      <% elsif end_user_signed_in? && @product.sale_status  == "販売停止中"%>
        <h2>入荷待ち</h2>
      <% elsif admin_signed_in? %>
        <h2><%= @product.sale_status %></h2>
      <% end %>
      <h2><%= @product.price %>円(税込)</h2>

    </div>
  </section>
</div>

<div class = "row row-bg">
  <div class = "review-box">
    <h2 class = "review-title">レビュー一覧</h2>
    <table class = "table table-bordered table-striped review-table">
      <thead>
        <tr>
          <td style = "font-weight: bold">ユーザ名</td>
          <td style = "font-weight: bold">レビュー</td>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td class = "review-content"><%= review.end_user.first_name %></td>
            <td class = "review-content"><%= review.review_content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if end_user_signed_in? %>
      <div>
        <h2>レビュー投稿</h2>
        <p>※一人一件まで</p>
        <%= form_for @review, :url => { :controller => :user_reviews, :action => :create } do |f| %>
        <%= f.text_area :review_content %>
        <%= f.submit "投稿する" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>