<div>
	<h1>買い物かご</h1>

			<%= @cart.product.title %>
			<%= @cart.product.artist.name %>
			<%= @cart.product.label.name %>
			<%= @cart.product.genre.name %>
			<%= form_for @cart, url:user_carts_update_path(@cart) do |f| %>
				<%= f.select :order_quantity, [@cart.order_quantity,"1","2","3","4","5"],
				selected:@cart.order_quantity %>
			 <%= f.submit "数を変更する" %>
			<% end %>
			<br>

</div>

<!-- ref:https://pg-happy.jp/rails-form_for-selectbox.html -->
