<div>
	<h1>買い物かご</h1>

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">タイトル</th>
		      <th scope="col">アーティスト</th>
		      <th scope="col">レーベル</th>
		      <th scope="col">ジャンル</th>
		      <th scope="col">枚数</th>
		    </tr>
		  </thead>

			<% current_end_user.carts.each do |cart| %>
		    <tr>
		      <td><span><%= cart.product.title %></span></td>
		      <td><span><%= cart.product.artist.name %></span></td>
		      <td><span><%= cart.product.label.name %></span></td>
		      <td><span><%= cart.product.genre.name %></span></td>
		      <td><span><%= cart.order_quantity %></span></td>

		      <%= form_for(cart, url: user_carts_update_path(cart), method: :patch) do |f| %>
		      <%= f.hidden_field :id, :value => cart.id %> <!-- attendancesテーブルのidを渡す -->
		      <td> <%= f.select :order_quantity, [cart.order_quantity,"1","2","3","4","5"],
				selected:cart.order_quantity %>
			  <%= f.submit "購入枚数を変更する" %>
			  <% end %>
			  </td>

		      <td class="option"><%= link_to 'Destroy',user_carts_delete_path(cart.id), class: "btn-sm btn-danger", method: :delete %></td>
		    </td>
		  	<% end %>
        </table>
</div>