
	<h1>買い物かご</h1>
	<div class="col-xs-9" >
		<section class = "purchase-products-box">
			<% current_end_user.carts.each do |cart| %>
			<div class = "purchase-product">

			  <%= image_tag 'wit.png', :size =>'60x60', class: "purchase-product-img" %>

		      <div class="purchase-product-info">
			      <div>
			      	<%= cart.product.title %>
			      </div>
			      <div>
			      <%= cart.product.artist.name %>
			      <%= cart.product.label.name %>
			      <%= cart.product.genre.name %>
			      <h3><%= cart.product.price %>円(税込)</h3>
			      </div>
		      </div>

		      <div class = "purchase-product-option">
		      <%= form_for(cart, url: user_carts_update_path(cart), method: :patch) do |f| %>
		      <%= f.hidden_field :id, :value => cart.id %> <!-- attendancesテーブルのidを渡す -->
		      <%= f.select :order_quantity, [cart.order_quantity,"1","2","3","4","5"],
				selected:cart.order_quantity %>枚
			  <%= f.submit "枚数変更" %>
			  <% end %>
		      <%= link_to 'Destroy',user_carts_delete_path(cart.id), class: "btn-sm btn-danger", method: :delete %>
		      </div>

		  	</div>
		  	<% end %>

		</section>
	</div>

	<div class="col-xs-3" >
		<section class = "purchase-box">


		</section>
	</div>